.container2
  - if notice
    %p.alert.alert-success#notice= notice

  %h1 Sport 

  %p.pt-3
    %b Code:
    = @sport.code
  %p
    %b Name:
    = @sport.name

  %a.button.small{:href => edit_sport_path(@sport)} Editar
  
  %br

  .pt-4
    %a{:href => sports_path} 
      %i.fas.fa-arrow-alt-circle-left
      Voltar
