.container2
  - if notice
    %p.alert.alert-success#notice= notice

  %h1 Facility

  %p.pt-3
    %b Name:
    = @facility.name
  %p
    %b Mode:
    = @facility.mode
  %p
    %b Sport:
    = @facility.sport.name

  %a.button.small{:href => edit_facility_path(@facility)} Editar

  %br

  .pt-4
    %a{:href => facilities_path} 
      %i.fas.fa-arrow-alt-circle-left
      Voltar
