%section#one.wrapper.style1.special
  .container
    %header.major
      %h2.pb-2 Espaço Admin
      %p.pt-1 Consulte e Crie novas entradas para Sports, Facilities e Timeslots
    %a.button.button-admin.special.big{:href => sports_path} Sports
    %a.pr-4.mr-4.pl-4.ml-4.button.button-admin.special.big{:href => facilities_path} Facilities
    %a.button.button-admin.special.big{:href => timeslots_path} Timeslots

%footer#footer
  .container
    %ul.icons
      %li
        %a.icon{:href => "#"}
          %i.fab.fa-facebook
      %li
        %a.icon{:href => "https://www.linkedin.com/in/guilhermeishida/"}
          %i.fab.fa-linkedin
      %li
        %a.icon{:href => "https://github.com/guiishida/SportsHub"}
          %i.fab.fa-github
    %ul.copyright
      %li © Powered by: Guilherme Ishida e Lui Damianci