%br
%h1 CEPEUSP


%p O Centro de Práticas Esportivas da Universidade de São Paulo - Cepeusp foi criado com a finalidade de planejar, coordenar, executar e avaliar a prática de atividades físicas e esportivas de alunos, docentes, funcionários e respectivos dependentes. 
%br

%h2 Missão
%p Oferecer à comunidade universitária programas de educação física, esporte, recreação e oportunidade de prática voluntária de atividades físicas, visando ao bem-estar, à melhoria da qualidade de vida e à sua integração, estendendo à comunidade externa na medida de suas possibilidades.

%br

%h2 Infraestrutura

%p Com uma área de 514.244 metros quadrados, o CEPEUSP dispõe de uma infraestrutura com quadras e equipamentos para a prática de diversas atividades físicas e esportivas.
%br
=image_tag "cepe_infra.jpg"

%p 1 - Portarias I & II
%p 2 - Conjunto Aquático
%p 3 - Estádio
%p 4 - Campos de Futebol
%p 5 - Campo de Futebol Areia
%p 6 - Espaço Multiúso/Nuri
%p 7 - Vestiários, Lanchonete
%p 8 - Pista de Atletismo
%p 9 - Velódromo
%p 10 - Quadras Externas
%p 11 - Quadras Cobertas
%p 12 - Quadras de Tênis
%p 13 - Raia Olímpica

%br

%h4 
    Para mais informações, visite a página oficial do CEPEUSP: 
    = link_to "http://www.cepe.usp.br/", "http://www.cepe.usp.br/", :target => "_blank"

