%br
%h1 Contato

%br

%h2 Endereço
%p Praça 02, Prof. Rubião Meira, 61 - Cidade Universitária 
%p São Paulo, SP - CEP 05508 110

%br

%h2 Horário de Funcionamento do CEPEUSP
%p Segunda a sexta-feira: 6h30 - 21h30
%p Sábado:  8h - 17h30
%p Domingo: 8h - 17h

%br

%h2 Email para Contato
%p Email: cepeusp@usp.br
