%section#one.wrapper.style1
  .container{:class => "75%"}
    .row{:class => "200%"}
      %h1 Contato
      .6u{:class => "12u$(medium)"}
        %h2.mt-2 Endereço
        %i.fas.fa-map-marker-alt 
        Praça 02, Prof. Rubião Meira, 61 - Cidade Universitária, São Paulo, SP - CEP 05508 110

        %br
        %br
        %br

        %h2 Horário de Funcionamento do CEPEUSP
        %i.fas.fa-clock
        Segunda a sexta-feira: 6h30 - 21h30
        %br
        %i.fas.fa-clock 
        Sábado:  8h - 17h30
        %br
        %i.fas.fa-clock
        Domingo: 8h - 17h

        %br
        %br
        %br

        %h2 Email para Contato
        %i.fas.fa-envelope
        cepeusp@usp.br

%footer#footer
  .container
    %ul.icons
      %li
        %a.icon{:href => "#"}
          %i.fab.fa-facebook
      %li
        %a.icon{:href => "https://www.linkedin.com/in/guilhermeishida/"}
          %i.fab.fa-linkedin
      %li
        %a.icon{:href => "https://github.com/guiishida/SportsHub"}
          %i.fab.fa-github
    %ul.copyright
      %li © Powered by: Guilherme Ishida e Lui Damanciani